// ===================
// Default Email Width
// ===================
$width:         580px !default;

// ==========
// Typography
// ==========
$font-family:   'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif !default;

// ===================
// Overrideable Colors
// ===================

// The defaults are the Sustainability Series colors
$background-color:                  #edf1e9 !default;
$email__border-color:               #c2d4b5 !default;
$email__background-color:           #fff !default;
$email__background-color--light:    #e7efe1 !default;
$email__background-color--readible: #505050 !default;
$email__primary-color:              #5d9732 !default;
$email__primary-color--readible:    #fff !default;
$email__accent-color:               #6a747c !default;
$email__link-color:                 #548d2b !default;

// ======
// Colors
// ======
$series-background-color:           $email__background-color !default;
$series-font-color:                 $email__primary-color !default;

$name-background-color:             $email__primary-color !default;
$name-font-color:                   $email__primary-color--readible !default;

$content-background-color:          $email__background-color !default;
$content-font-color:                $email__background-color--readible !default;
$content-head-font-color:           $email__accent-color !default;
$content-image-border-color:        $email__primary-color !default;

$information-rsvp-font-color:       $email__primary-color--readible !default;
$information-rsvp-background-color: $email__primary-color !default;

$information-background-color:      $email__background-color !default;
$information-font-color:            $email__accent-color !default;

$footer-background-color:           $email__background-color--light !default;
$footer-font-color:                 $email__accent-color !default;
$footer-link-color:                 $email__link-color !default;

$unsub-font-color:                  $email__accent-color !default;
$unsub-link-color:                  $email__link-color !default;