.footer {
  background-color: $footer-background-color;
}

.footer__information {
  background-color: $footer-background-color;
}

.footer__information--forward {
  color: $footer-font-color;
  letter-spacing: -1px;
  font-size: 16px;
  line-height: normal;
  font-weight: bold;
  padding: 0px;
  margin: 20px 0px 0px 28px;
}

.footer__information--forwardlink {
  color: $footer-font-color;
  font-size: 16px;
  text-decoration: none;
}

.footer__information--events {
  color: $footer-font-color;
  font-size: 13px;
  line-height: normal;
  font-weight: bold;
  padding: 0px;
  margin: 12px 0px 0px 28px;
}

.footer__information--eventslink {
  font-size: 13px;
  color: $footer-link-color;
  text-decoration: none;
  font-weight: bold
}

.footer__information--directions {
  color: $footer-font-color;
  font-size: 13px;
  line-height: normal;
  font-weight: bold;
  padding: 0px;
  margin: 12px 0px 0px 28px;
}

.footer__information--directionslink {
  font-size: 13px;
  color: $footer-link-color;
  text-decoration: none;
  font-weight: bold;
}

.footer__information--presented {
  color: $footer-font-color;
  font-size: 13px;
  line-height: normal;
  font-weight: bold;
  padding: 0px;
  margin: 12px 0px 20px 28px;
}

.footer__banner {
  background-color: #fff;
}
