.information {
  background-color: $information-background-color;
}

.information__datebox {
  color: $information-font-color;
  font-family: $font-family;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: normal;
  margin: 15px 0 0 22px;
  padding: 0;
}

.information__locationbox {
  @extend .information__datebox;

  font-size: 15px;
  margin: 7px 0 20px 22px;
}

.information__rsvp {
  margin: 10px 0 30px 22px;
}

.information__rsvp--link {
  color: $information-rsvp-font-color;
  background: $information-rsvp-background-color;
  border-color: $information-rsvp-background-color;
  border-style: solid;
  border-width: 14px 20px 12px 20px;
  font-size: 18px;
  text-decoration: none;
  line-height:normal;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}
