.name {
}

.name__heading {
  background-color: $name-background-color;
}

.name__heading--text {
  color: $name-font-color;
  font-size: 26px;
  margin: 15px 0px 15px 0px;
  vertical-align: top;
  font-weight: bold;
  text-align: center;
  letter-spacing:-1px;
  line-height:normal;
}
