.series__heading {
}

.series__heading--wrapper {
  background: $series-background-color;
  vertical-align: top;
}

.series__heading--text {
  color: $series-font-color;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 18px;
  line-height: normal;
}

.series__logo {
  background-color: $series-background-color;
}

.series__logo--wrapper {
  padding: 25px 0px 10px 0px;
  text-align: center;
  vertical-align: top;
}

.series__logo--image {
  width: 330px;
  height: 32px;
  border: 0px;
}

.series__banner {
  background-color: $series-background-color;
}