---
layout: default.hbs
subject: Sustainability Series
---
<table class="main">
  <tr>
    <td>
      <!-- EMAIL SERIES -->
      <table class="series">
        <tr>
          <td class="series__push">
          </td>
          <td class="series__heading">
            <p class="series__heading--text">sustainability series</p>
          </td>
          <td class="series__logo">
            <a href="http://sustainability.asu.edu" title="Arizona State University - Global Institute of Sustainability" target="_blank">
              <img alt="Global Institute of Sustainability - logo" title="Arizona State University - Global Institute of Sustainability" src="http://sustainability.asu.edu/docs/gios/emails/sustainability-series/2010/imgs/gios-logo.jpg" border="0">
            </a>
          </td>
          <td class="series__push">
          </td>
        </tr>
      </table>
      <!--/EMAIL SERIES -->
      <!-- EVENT NAME -->
      <table class="name">
        <tr>
          <td class="name__heading">
            <p class="name__heading--text">
              %%EVENTNAME%%
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img src="http://sustainability.asu.edu/docs/gios/emails/sustainability-series/2010/imgs/sustainability-series-header.jpg">
          </td>
        </tr>
      </table>
      <!--/EVENT NAME -->
      <!-- CONTENT -->
      <table class="content">
        <tr>
          <td class="content__headshot">
            <img src="%%HEADSHOTIMG%%">
          </td>
          <td class="content__headlines">
            <p class="content__headlines--headline">%%HEADLINE%%</p>
            <p class="content__headlines--title">%%TITLES%%</p>
    
            <p class="content__headlines--headline">%%HEADLINE2%%</p>
            <p class="content__headlines--title">%%TITLES2%%</p>

            <div class="content__description">
              %%EVENTDESCRIPTION%%
            </div>
          </td>
        </tr>
      </table>
      <!--/CONTENT -->
      <!-- INFORMATION -->
      <table class="information">
        <tr>
          <td class="information__details">
            <p class="information__details--datebox">%%DATEBOX%%</p>
            <p class="information__details--locationbox">%%LOCATIONBOX%%</p>
          </td>
          <td class="information__rsvp">
            <p class="information__rsvp--text">
              <a style="color:#4F5557;" href="%%RSVPLINK%%">RSVP Now &raquo;</a>
            </p>
          </td>
          <td class="information__push">
          </td>
        </tr>
      </table>
      <!--/INFORMATION -->
      <!-- FOOTER -->
      <table class="footer">
        <tr>
          <td class="footer__information">
            <p class="footer__information--forward">
              <a class="footer__information--forwardlink" href="*|FORWARD|*" target="_blank">Forward to a friend &raquo;</a>
            </p>

            <p class="footer__information--rsvp">RSVP: 
              <a class="footer__information--rsvplink" href="mailto:sustainabilityevents@asu.edu" target="_blank">sustainabilityevents@asu.edu</a>
            </p>
          
            <p class="footer__information--directions">Parking &amp; directions: 
              <a class="footer__information--directionslink" href="http://sustainability.asu.edu/directions">sustainability.asu.edu/directions</a>
            </p>
          
            <p class="footer__information--additional">Information on all events: 
              <a class="footer__information--additionallink" href="http://sustainability.asu.edu/events/upcoming-events.php">sustainability.asu.edu/events</a>
            </p>
          
            <p class="footer__information--presented">The Sustainability Series is presented by ASU's Global Institute of Sustainability.</p>
          </td> 
        </tr>
      </table>
      <!--/FOOTER -->
      <!-- UNSUB -->
      <table clsas="unsub">
        <tr>
          <td align="left">
            <p class="unsub__text">
              <a class="unsub__text--link" href="*|UNSUB|*">Unsubscribe</a> *|EMAIL|* from this list.
            </p>
          </td>
        </tr>
      </table>
      <!--/UNSUB -->
    </td>
  </tr>
</table>