$site_url: "http://sustainability.asu.edu";
$site_title: Arizona State University - Global Institute of Sustainability;
$site_logo_url: "http://sustainability.asu.edu/docs/gios/emails/sustainability-series/2010/imgs/gios-logo.jpg";
$series_title: sustainability series;
$series_banner_url: "http://placehold.it/580x92";
$event_name: This is the Default Event Name;
$event_headliners: [object Object],[object Object];
$event_description: This is the Default Event Description. <ul>
  <li>Lists!</li>

  <li>Now included!</li>
<ul> <h1>Even headings!<h1> <p>Make sure to use p-tags!</p>
;
$event_date: This is the date<br/> It is multi-line
;
$event_location: This is the location<br/> It is multi-line
;
$event_url: ;
